/* General reset for box-sizing */
* {
    box-sizing: border-box;
}


header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: rgb(49, 105, 190);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
}


/* Flexbox for header content to space items */
header,
.navbar ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center; /* Vertically align items in the header */
}


.navbar ul {
    list-style: none; /* Remove bullet points from list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}


.navbar ul li {
    margin-left: 1rem;
}


.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    font-weight: bold;
    transition: color 0.3s ease;
}


.navbar a:hover {
    color: #ffd700; /* Gold color on hover for links */
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-image: url(https://findes.com.br/wp-content/uploads/2023/10/IMG_4015-1-3-1024x683.png);
    background-size: cover;
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: 100vh; /* Make body take full viewport height */
    padding-top: 70px; /* Adjust padding to account for fixed header height */
    margin: 0;
}


.container,
.preocupado { /* Apply common styles to both main blocks */
    background-color: rgb(49, 105, 190);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 1.2);
    width: 600px;
    max-width: 90%; /* Make it responsive */
    text-align: center;
    margin-bottom: 20px; /* Space between container and preocupado */
}


input,
button {
    width: 100%;
    margin: 10px 0;
    padding: 10px 15px; /* Added horizontal padding */
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Lighter border for inputs */
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent background */
    color: white;
}


input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder text color */
}

button {
    background-color: rgba(0, 255, 255, 0.486);
    color: rgb(255, 255, 255);
    border: none; /* Remove default button border */
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease; /* Smooth transition for hover */

}


button:hover {
    background-color: rgba(0, 195, 255, 0.686);
}


#resultado {
    margin-top: 15px;
    font-weight: bold;
    color: white;
}
footer {
    background-color: #00000041;
    color: white;
    text-align: center;
    font-style: italic;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
  }