
body{
margin: 0;
padding: 0;
font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 400px;
  font-display: block;
 background: linear-gradient(60deg, #3c007cb9 0%, #320182c0 35%,  #000633 100%);
 background-repeat: no-repeat;
 background-attachment: fixed; /*fixa o fundo*/
 display: flex;/*flex container*/
justify-content: center;/*conteudo centralizado horizontalmente*/
align-items: center;/*conteudo centralizado verticalmente*/
}

h2{
    text-align:center;
    font-size: 50px;
    font-weight: 400px;
    text-shadow: rgba(0, 0, 0, 0.411) 0px 0px 10px;
}

.loginContainer {
    background-color: rgba(255, 255, 255, 0.301) ;
    padding:30px;
    width: 496px;
    height: 398px;
    gap: 20px;
    text-align: left;
    border-radius: 30px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-top: 80px;
    color: white;
    font-size: 25px;
}
input{
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    font-size: 25px;
    width: 96%;
}
button {
    background: linear-gradient(60deg, #3c007c75 0%, #3201829a 35%,  #0006339f 100%);
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
}
button:hover {
    background-color: #00000080;
    color: white;
}
