body {
    font-family: 'Comfortaa', cursive;
    color: rgb(255, 255, 255);
    background-color:rgba(255, 81, 0, 0.603);
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    padding-top: 70px; /* Adjust padding to account for fixed header height */
    margin: 0;
}


button {
    width: 300px;
    margin: 20px auto                                          ;
    padding: 10px 15px; /* Added horizontal padding */
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5); /* Lighter border for inputs */
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4); /* Slightly transparent background */
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2); /*Added shadow for depth*/
}
input {
    padding: 5px;
    margin: 5px;
}
button:hover {
    background-color: rgba(0, 0, 0, 0.342);
}


.lista {
    font-family: 'Comfortaa', cursive;
    display: flex; /* Organiza os quadrados em linha */
    flex-wrap: wrap; /* Permite que os quadrados quebrem para a próxima linha */
    width: 280px; /* Largura do quadrado */
    height: 50px; /* Altura do quadrado */
    background-color: rgb(255, 255, 255); /* Cor de fundo branca */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Borda leve */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    border-radius: 5px; /* Bordas arredondadas */
    color: black;
    list-style: none;
    padding-left: 10px;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-left: -40px;
}